<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>android SurfaceView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style-base.css">
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
     
     
    <script type="text/javascript" src="/js-base.js"></script>
     
</head>

<body>
    <main role="main">
        <h1>android SurfaceView</h1>

        <h2>SurfaceView</h2>
        <ul>
            <li>主动刷新</li>
            <li>子线程绘制</li>
            <li>双缓冲</li>
        </ul>

        <h2>自定义SurfaceView</h2>
        <ul>
            <li>1,自定义SurfaceView , extents SurfaceView , implements SurfaceHolder.Callback</li>
            <li>2,在surfaceCreated方法里开启一个子线程,开启一个由Flag控制的While循环，用于不断地绘制</li>
            <li>3,在循环中通过SurfaceHolder.lockCanvas()获得一个Canvas用于绘制</li>
            <li>4,通过SurfaceHolder.unlockCanvasAndPost()传入Canvas对象完成更新</li>
            <li>5,在surfaceDestroyed()中去改变while循环的Flag为false，结束子线程的绘制</li>
            <li>6,SurfaceView.getHolder()获得SurfaceHolder对象</li>
            <li>7,SurfaceHolder.addCallback(callback)添加回调函数</li>
            <li>
                <pre><code>
public class MyView extends SurfaceView implements SurfaceHolder.Callback, Runnable {

     private SurfaceHolder mHolder;
     private Canvas mCanvas;
     private boolean mIsRunning;

public MyView(Context context, AttributeSet attrs, int defStyleAttr) {
    super(context, attrs, defStyleAttr);
    mHolder = getHolder();
    mHolder.addCallback(this);
}


//surface创建的时候调用，一般在该方法中启动绘图的线程。
@Override
public void surfaceCreated(SurfaceHolder holder) {
    mIsRunning = true;
    new Thread(this).start();
}

//在surface的大小发生改变时激发 
@Override
public void surfaceChanged(SurfaceHolder holder, int format, int width, int height) {

}

//销毁时激发，一般在这里将画图的线程停止、释放。 
@Override
public void surfaceDestroyed(SurfaceHolder holder) {
    mIsRunning = false;
}

@Override
public void run() {
    long start = System.currentTimeMillis();

    while (mIsRunning) {
        draw();
    }
}

private void draw() {
    mCanvas = mHolder.lockCanvas();
    if (mCanvas != null) {
        try {
           //使用获得的Canvas做具体的绘制
        } catch (Exception e) {
            e.printStackTrace();
        } finally {
            mHolder.unlockCanvasAndPost(mCanvas);
        }
    }
}                
</code></pre>
            </li>
        </ul>






    </main>
</body>










</html>