<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>android window</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style-base.css">
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>


    <script type="text/javascript" src="/js-base.js"></script>

</head>

<body>
    <main role="main">
        <h1>android window</h1>



        <h2>window feature</h2>
        <ul>
            <li>requestWindowFeature
                <pre><code>//1,请求feature
requestWindowFeature(Window.FEATURE_NO_TITLE);
//2,设置活动全局布局
setContentView(R.layout.first_layout);
//3,设置feature
getWindow().setFeatureXxx(  ); 
</code></pre>
            </li>
            <li>default_features：系统默认状态，一般不需要指定
            </li>
            <li>feature_context_menu：启用contextmenu，默认该项已启用，一般无需指定
            </li>
            <li>feature_custom_title：自定义标题。
                <pre><code>this.requestWindowFeature(Window.FEATURE_CUSTOM_TITLE);  
setContentView(R.layout.main);  
getWindow().setFeatureInt(Window.FEATURE_CUSTOM_TITLE, R.layout.title);
</code></pre>
            </li>
            <li>feature_indeterminate_progress：不确定的进度
                <pre><code>this.requestWindowFeature(Window.FEATURE_INDETERMINATE_PROGRESS);  
setContentView(R.layout.main);  
getWindow().setFeatureInt(Window.FEATURE_INDETERMINATE_PROGRESS, R.layout.progress);  
setProgressBarIndeterminateVisibility(true);  
</code></pre>
            </li>
            <li>feature_progress：进度指示器功能
                <pre><code>requestWindowFeature(Window.FEATURE_PROGRESS);
setProgressBarVisibility(true);
setContentview(R.layout.main);
setTitle(&quot;&quot;);
getWindow().setFeatureInt(Window.FEATURE_PROGRESS, R.layout.progress);
//设置标题栏中进度条进度值
setProgress(i);
setSecondaryProgress(i+i);
</code></pre>
            </li>
            <li>feature_left_icon，feature_right_icon：标题栏左右侧的图标
                <pre><code>requestWindowFeature(Window.FEATURE_RIGHT_ICON);  
setContentView(R.layout.main);      
getWindow().setFeatureDrawableResource(Window.FEATURE_RIGHT_ICON,R.drawable.ic_launcher);  
</code></pre>
            </li>
            <li>feature_no_title：无标题
                <pre><code>this.requestWindowFeature(Window.FEATURE_NO_TITLE);  
setContentView(R.layout.main);  
//全屏
getWindow().setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN, WindowManager.LayoutParams.FLAG_FULLSCREEN);  
</code></pre>
            </li>
            <li>feature_options_panel：启用“选项面板”功能，默认已启用。
            </li>
        </ul>

        <h2>keyboard</h2>
        <ul>
            <li>stateUnspecified：软键盘的状态并没有指定，系统将选择一个合适的状态或依赖于主题的设置</li>
            <li>stateUnchanged：当这个activity出现时，软键盘将一直保持在上一个activity里的状态，无论是隐藏还是显示</li>
            <li>stateHidden：用户选择activity时，软键盘总是被隐藏</li>
            <li>stateAlwaysHidden：当该Activity主窗口获取焦点时，软键盘也总是被隐藏的</li>
            <li>stateVisible：软键盘通常是可见的</li>
            <li>stateAlwaysVisible：用户选择activity时，软键盘总是显示的状态</li>
            <li>adjustUnspecified：默认设置，通常由系统自行决定是隐藏还是显示</li>
            <li>adjustResize：该Activity总是调整屏幕的大小以便留出软键盘的空间</li>
            <li>adjustPan：当前窗口的内容将自动移动以便当前焦点从不被键盘覆盖和用户能总是看到输入内容的部分</li>
        </ul>

    </main>
</body>

</html>
