<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>android percent layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style-base.css">
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js">
    </script>
    </script>
    <script type="text/javascript" src="/js-base.js">
    </script>
</head>

<body>
    <main role="main">
        <h1>android percent layout</h1>

        <h1>layout percent support</h1>
        <p>compile'com.android.support:percent:24.0.0'</p>
        
        <h2>PercentRelativeLayout / PercentFrameLayout</h2>
        <ul>
            <li>layout_width=&quot;0dp&quot;、layout_height=&quot;0dp&quot;</li>
            <li>layout_widthPercent、layout_heightPercent</li>
            <li>如果为wrap_content,选择wrap_contetn与Percent中较大的一个</li>
            <li></li>
            <li>layout_marginPercent</li>
            <li>layout_marginTop(Bottom/Left/Right/Start/End)Percent</li>
            <li></li>
            <li>android:layout_width=&quot;300dp&quot;</li>
            <li>app:layout_aspectRatio=&quot;178%&quot;</li>
            <li>固定宽度或高度，并设置宽：高，1.78:1</li>
        </ul>



    </main>
</body>










</html>